---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
---

<Layout title="Space tourism - Destination">
    <style>
        :root {
            --mobile-bg: url("../assets/destination/background-destination-mobile.jpg");
            --tablet-bg: url("../assets/destination/background-destination-tablet.jpg");
            --desktop-bg: url("../assets/destination/background-destination-desktop.jpg");
        }

        .active::after,
        .active-hover::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 4px;
            background-color: white;
            transition: opacity .3s ease-in-out;
        }

        .active-hover::after {
            opacity: 0;
        }

        .active-hover:hover::after {
            opacity: .3;
        }
    </style>
    <Content title="Pick your destination" number="01">
        <div class="flex items-center justify-around gap-2">
            <div class="w-1/2">
                <img src="../assets/destination/image-mars.webp" alt="Mars" />
            </div>
            <div class="w-1/2">
                <div>
                    <div class="flex gap-10 h-14 font-condensed">
                        <button
                            class="text-accent uppercase border-white relative active-hover"
                            >Moon</button
                        >
                        <button
                            class="uppercase border-white relative active"
                            >Mars</button
                        >
                        <button
                            class="text-accent uppercase border-white relative active-hover"
                            >Europa</button
                        >
                        <button
                            class="text-accent uppercase border-white relative active-hover"
                            >Titan</button
                        >
                    </div>
                    <h1 class="font-serif text-8xl uppercase">Mars</h1>
                    <p class="text-accent">
                        Don't forget to pack your hiking boots. You'll need them
                        to tackle Olympus Mons, the tallest planetary mountain
                        in our solar system. It's two and a half times the sife
                        of Everest!
                    </p>
                    <hr class="w-full bg-accent h-[1px] opacity-20 z-10" />
                </div>
                <div class="flex gap-8">
                    <div class="uppercase">
                        <p
                            class="text-accent font-condensed text-sm tracking-[2.73px]"
                        >
                            AVG. DISTANCE
                        </p>
                        <p class="font-serif text-3xl">225 MIL. KM</p>
                    </div>
                    <div class="uppercase">
                        <p>EST. TRAVEL TIME</p>
                        <p>9 MONTHS</p>
                    </div>
                </div>
            </div>
        </div>
    </Content>
</Layout>
