<header class="fixed top-0 left-0 right-0 flex items-center py-7 shrink-0 font-condensed">
    <img class="mx-12 w-12 h-12" src="./shared/logo.svg" alt="close">
    <div class="w-2/5 bg-white h-[1px] opacity-20 mr-[-30px] z-10"></div>
    <nav class="w-3/5 backdrop-filter backdrop-blur-lg bg-opacity-[4%] h-[96px] flex justify-center gap-x-4 uppercase bg-white tracking-[2.7px]">
        <a href="./" data-pathname="/" class="h-full flex items-center hover:pt-1 hover:border-b-4 border-white border-opacity-30 transition-all"><b class="mr-2">00</b> Home</a>
        <a href="./destination" data-pathname="/destination"  class="h-full flex items-center hover:pt-1 hover:border-b-4 border-white border-opacity-30 transition-all"><b class="mr-2">01</b> Destination</a>
        <a href="./crew" data-pathname="/crew"  class="h-full flex items-center hover:pt-1 hover:border-b-4 border-white border-opacity-30 transition-all"><b class="mr-2">02</b> Crew</a>
        <a href="./technology" data-pathname="/technology"  class="h-full flex items-center hover:pt-1 hover:border-b-4 border-white border-opacity-30 transition-all"><b class="mr-2">03</b> Technology</a>
    </nav>
</header>

<script>
    const currPath = window.location.pathname
    const navLinks = document.querySelectorAll("a")

    navLinks.forEach(e => {
      if (e.dataset.pathname == currPath) {
        e.classList.add("pt-1", "border-b-4")
        e.classList.remove("border-opacity-30", "hover:pt-1", "hover:border-b-4")
        return
      }  
    })
</script>