<header class="fixed top-0 left-0 right-0 flex items-center py-7 shrink-0 font-condensed">
    <img class="mx-12 w-12 h-12" src="./shared/logo.svg" alt="close">
    <div class="w-2/5 bg-white h-[1px] opacity-20 mr-[-30px] z-10"></div>
    <nav class="w-3/5 backdrop-filter backdrop-blur-lg bg-opacity-[4%] h-[96px] flex justify-center gap-x-4 uppercase bg-white tracking-[2.7px]">
        <a class="h-full flex items-center relative" href=""><b class="mr-2">00</b> Home<div class="absolute bottom-0 w-full h-[3px] bg-white"></div></a>
        <a class="h-full flex items-center" href=""><b class="mr-2">01</b> Destination</a>
        <a class="h-full flex items-center" href=""><b class="mr-2">02</b> Crew</a>
        <a class="h-full flex items-center" href=""><b class="mr-2">03</b> Technology</a>
    </nav>
</header>