<header class="bg-black flex items-center py-7 shrink-0">
    <img class="mx-10" src="./shared/logo.svg" alt="close">
    <div class="w-2/5 bg-white h-[1px] opacity-30"></div>
    <nav class="w-3/5 backdrop-filter backdrop-blur-lg bg-opacity-30 h-[80px] flex justify-center gap-x-4 uppercase">
        <a class="h-full flex items-center relative" href=""><b class="mr-2">00</b> Home<div class="absolute bottom-0 w-full h-1 bg-white"></div></a>
        <a class="h-full flex items-center" href=""><b class="mr-2">01</b> Destination</a>
        <a class="h-full flex items-center" href=""><b class="mr-2">02</b> Crew</a>
        <a class="h-full flex items-center" href=""><b class="mr-2">03</b> Technology</a>
    </nav>
</header>