---
import "@fontsource/barlow";
import "@fontsource/bellefair";
import "@fontsource/barlow-condensed";

import Header from "../components/Header.astro";

interface Props {
  title: string;
  background: string;
}

const { title, background } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon-32x32.png" />
    <link rel="preload" as="image" href=`${background}` />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-white bg-black">
    <Header />
    <main class=`bg-cover h-screen pt-36 flex justify-around content-center flex-wrap bg-black, bg-[url(${background})]`>
      <slot />
    </main>
  </body>
</html>
